body {
    font-family: sans-serif;
    background-color: #eef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover { background: #218838; }
.mensaje { color: red; text-align: center; margin-top: 10px; }
.password-wrapper { position: relative; }
.ojito {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}
.link { text-align: center; margin-top: 15px; font-size: 14px; }
small { font-size: 11px; color: gray; display: block; margin-bottom: 10px;}